---
import CardTags from "../../components/CardTags.astro";
import BaseLayouts from "../../layouts/BaseLayouts.astro";
import Etiquetas from "./etiquetas.astro";

export async function getStaticPaths() {
    const allPosts = await Astro.glob('../posts/*.md');

    const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

    return uniqueTags.map((tag: any) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
};

const { tag } = Astro.params;
const { posts } = Astro.props;

---

<BaseLayouts titlePage={tag} background={'bg-black'}>
  <div class="w-full" >
    <Etiquetas textColor={'text-slate-300'}/>
    <div class="w-full min-h-screen max-2xl:min-h-screen text-slate-300">
      <p>Entradas etiquetadas con {tag}</p>
      <div class="mt-5 w-full min-h-full flex flex-row flex-wrap gap-2">
        <CardTags cardPost={posts}/>
      </div>
    </div>
  </div>
</BaseLayouts>