---
import CardsPost from "../components/CardsPost.astro";
import BaseLayouts from "../layouts/BaseLayouts.astro";

import Etiquetas from "./tags/etiquetas.astro";

const titlePage = 'blog'

const allPosts = await Astro.glob('../pages/posts/*.md');

---



<BaseLayouts titlePage={titlePage} background={'bg-slate-200'}>
   <div class="w-full h-full text-slate-600">
      <h1 class="text-xl font-bold" >Bienvenido a mi blog</h1>
      <p>Aquí es donde publicare mi viaje en la programacíon</p>
      <Etiquetas textColor={'text-slate-300'}/>
      <div class="w-full h-full flex flex-row flex-wrap gap-1">
         <CardsPost allPosts={allPosts} />
      </div>
   </div>
</BaseLayouts>
