---
import Home from "../components/Home.astro";
import MoveParticlesAnimate from "../components/MoveParticlesAnimate.astro";
import BaseLayouts from "../layouts/BaseLayouts.astro";


const pageTitle: string = "Página de inicio";

---

<BaseLayouts titlePage={pageTitle} background={'bg-yellow-100'}>
  <MoveParticlesAnimate/>
    <div class="w-full h-screen max-2xl:min-h-screen">
      <Home/>
    </div>
</BaseLayouts>
