---
import BaseLayouts from "../layouts/BaseLayouts.astro";


const pageTitle: string = "Página de inicio";
const astroNauta: string = 'public/astronaut.png';
---
<BaseLayouts titlePage={pageTitle} background={'bg-slate-700'}>
    <div class="w-full h-full m-auto grid grid-cols-2 items-center max-md:grid-flow-col max-md:grid-rows-2 gap-1">
      <div class="w-full h-full -rotate-3 col-start-1 flex flex-col gap-2 justify-center items-center max-md:ml-[50%]">
        <div class="w-auto animate-bounce -mb-14">
          <span class="text-center pt-10 animate-backgroundGradientAnimation text-4xl max-md:text-3xl font-black font-BlackStormBlack">¡Bienvenidos</span>
        </div>
        <h1 class="text-center pt-10 animate-backgroundGradientAnimation text-4xl max-md:text-3xl font-black font-BlackStormBlack">a MaikiBlog!</h1>
        <span class="pt-2 text-center text-white font-medium">Acompáñenme en este fantástico  viaje</span>
      </div>
      <div class="w-full h-full grid grid-cols-2 items-center gap-3 max-md:flex max-md:flex-col max-md:ml-[50%]">
        <figure class="w-full h-fit">
          <img class="w-full h-full col-start-1" src={astroNauta} alt="">
        </figure>
        <a class="w-12 h-8 col-start-2 text-center flex items-center justify-center rounded-md shadow-lg bg-yellow-200 text-xl hover:scale-100" href="/blog">Blog</a>
      </div>
    </div>
</BaseLayouts>
