---
import BaseLayouts from "../layouts/BaseLayouts.astro";

const pageTitle = "Página de inicio";
---
<BaseLayouts titlePage={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
</BaseLayouts>
