---
import BaseLayouts from "../layouts/BaseLayouts.astro";
import Etiquetas from "./tags/etiquetas.astro";

import CardsPost from "../components/CardsPost.astro"

const pageTitle: string = "Página de inicio";


const allPosts = await Astro.glob('../pages/posts/*.md');

// Encontrar la fecha más reciente
let maxUpdateDate = allPosts.reduce((maxDate, post) => {
  const postDate = new Date(post.frontmatter.pubDate);
  return postDate > maxDate ? postDate : maxDate;
}, new Date(0)); // Fecha inicial muy antigua para comparar

// Filtrar la publicación con la fecha más reciente
let newPost = allPosts.filter(post => {
  return new Date(post.frontmatter.pubDate).toString() === maxUpdateDate.toString();
});
---

<BaseLayouts titlePage={pageTitle} background={'bg-white'}>
     <div class="max-w-[90%] max-md:max-w-screen mx-auto p-5 max-md:p-1 sm:p-10 md:p-16 relative">
        <div class="w-full h-fit flex flex-col items-center gap-2 mb-5">
            <div class="mt-10 w-9/12 max-md:w-full rounded-xl p-5 max-md:p-1 text-slate-600 bg-slate-400 bg-opacity-10">
                <h2>Sobre mí</h2>
                <h2>... ¡y mi nuevo sitio Astro!</h2>
                <p>¡Hola bienvenidos! aquí es donde publicare mi viaje en la programacíon</p>
                <p>Este sitio se irá actualizando a medida que vaya completando más partes de los apuntes, ¡así que no dejes de visitarlo para ver cómo va esta aventura!</p>
            </div>
        </div>
        <div class="mb-10">
            <Etiquetas textColor={'text-slate-300'}/>
        </div>
        <CardsPost allPosts={allPosts} newPost={newPost} />
    </div>
</BaseLayouts>
