---

const { allPosts } = Astro.props;

const arrDate = allPosts.map((post: string | any) => new Date (post.frontmatter.pubDate.toString().slice(0,10)));
let maxDate = new Date(Math.max.apply(null,arrDate));
---


    {/* Mostrar todas las tarjetas excepto la principal */}
    {
    !allPosts ? <h3>Cargando...</h3>:
    allPosts
        .filter((post: string | any) => {
            // Filtrar las tarjetas para excluir la tarjeta principal
            let postDate = new Date(post.frontmatter.pubDate);
            return postDate.getTime() !== maxDate.getTime();
        })
        .map((post: string | any) => (
            <article class="w-64 h-[10rem] flex flex-col items-start border border-cyan-100 p-1 rounded-lg bg-cyan-50">
                <div class="w-full h-5 flex flex-row justify-between text-slate-400 font-light text-xs">
                    <p class="">{post.frontmatter.pubDate.toString().slice(0, 10)}</p>
                    <span class="">{`${post.frontmatter.author.split(' ')[0]} ${post.frontmatter.author.split(' ')[1][0]}. ${post.frontmatter.author.split(' ')[2]}`}</span>
                </div>
                <div class="max-w-full h-full grid grid-cols-2 grid-flow-row justify-center gap-3">
                    <figure class="col-start-1 w-full">
                        <img class="object-cover" src={post.frontmatter.image['url']} alt={post.frontmatter.image['alt']} />
                    </figure>
                    <div class="col-start-2 w-full">
                        <span class="font-bold text-sm">{post.frontmatter.title}</span>
                        <p class="text-slate-600 text-sm">{post.frontmatter.description}</p>
                        <a class="w-28 h-5 mt-3 rounded-md shadow-md bg-green-400 grid place-content-center text-white" href={post.url}>Ver más</a>
                    </div>
                </div>                
            </article>
        ))}
