---

const {allPosts} = Astro.props;

const arrDate = allPosts.map((post: string | any) => new Date (post.frontmatter.pubDate.toString().slice(0,10)));
let maxDate = new Date(Math.max.apply(null,arrDate));

let cardPrincipal = allPosts.filter((post: string | any) => {
    // Convertir la fecha de la publicaci칩n actual a un objeto Date
    let postDate = new Date(post.frontmatter.pubDate);
    // Retornar true si la fecha de la publicaci칩n es igual a la fecha m치xima
    return postDate.getTime() === maxDate.getTime();
});

---
<!DOCTYPE html>
<html lang="en"></html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
{
    cardPrincipal.length < 1? <h3>Cargando...</h3>:
    cardPrincipal.map((post: string | any) => (
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img
                        src={post.frontmatter.image['url']}
                        alt={post.frontmatter.image['alt']}
                    />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                        <img
                            src={post.frontmatter.image['url']}
                            alt={post.frontmatter.image['alt']}
                        />
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{post.frontmatter.title}</p>
                        <p class="subtitle is-6">{`${post.frontmatter.author.split(' ')[0]} ${post.frontmatter.author.split(' ')[1][0]}. ${post.frontmatter.author.split(' ')[2]}`}</p>
                    </div>
                    </div>

                    <div class="content">
                        {post.frontmatter.description}
                        <br/>
                        <a class="button is-primary" href={post.url}>Ver m치s</a>
                        <br />
                        <time datetime={post.frontmatter.pubDate.toString().slice(0, 10)}>{post.frontmatter.pubDate.toString().slice(0, 10)}</time>
                    </div>
                </div>
            </div>
    ))
}