---

const { allPosts } = Astro.props;

let order: [] = allPosts
        .sort((a: string | any, b: string | any) =>
            // Filtrar las tarjetas para excluir la tarjeta principal
            //let postDate = new Date(post.frontmatter.pubDate);
            //return postDate.getTime() !== maxDate.getTime();
            b.frontmatter.pubDate.toString().slice(0, 10) - a.frontmatter.pubDate.toString().slice(0, 10)
        )

console.log(order)

const arrDate = allPosts.map((post: string | any) => new Date (post.frontmatter.pubDate.toString().slice(0,10)));
let maxDate = new Date(Math.max.apply(null,arrDate));
---
    <!DOCTYPE html>
    <html lang="en"></html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>

    {
    !allPosts ? <h3>Cargando...</h3>:
    allPosts
        .sort((a: { frontmatter: { pubDate: string } }, b: { frontmatter: { pubDate: string } }) => 
            // Filtrar las tarjetas para excluir la tarjeta principal
            //let postDate = new Date(post.frontmatter.pubDate);
            //return postDate.getTime() !== maxDate.getTime();
            new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime()
        )
        .map((post: { frontmatter: { title: string, author: string, pubDate: string, description: string, image: { url: string, alt: string } }, url: string }) => (
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img
                        src={post.frontmatter.image['url']}
                        alt={post.frontmatter.image['alt']}
                    />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                        <img
                            src={post.frontmatter.image['url']}
                            alt={post.frontmatter.image['alt']}
                        />
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{post.frontmatter.title}</p>
                        <p class="subtitle is-6">{`${post.frontmatter.author.split(' ')[0]} ${post.frontmatter.author.split(' ')[1][0]}. ${post.frontmatter.author.split(' ')[2]}`}</p>
                    </div>
                    </div>

                    <div class="content">
                        {post.frontmatter.description}
                        <br/>
                        <a class="button is-primary" href={post.url}>Ver más</a>
                        <br />
                        <time datetime={post.frontmatter.pubDate.toString().slice(0, 10)}>{post.frontmatter.pubDate.toString().slice(0, 10)}</time>
                    </div>
                </div>
            </div>
        ))}
