---
import SocialMedia from "./SocialMedia.astro";

const platform = "github";
const username = "mikygaleano";
---

<footer>
  <p>¡Más información sobre mis proyectos en...</p>
  <SocialMedia platform={platform} username={username}/>
</footer>