---
import SocialMedia from "./SocialMedia.astro";

const arraySocialMedia = [
  {
    platform : "github",
    username : "mikygaleano"
  },
  {
    platform : "instagram",
    username : "maikidev"
  },
  {
    platform : "linkedin",
    username : "michaelgaleano"
  }
]
---

<footer class="w-full min-h-[250px] max-h-full text-xs bg-blue-50 flex justify-center items-center m-auto">
  <div class="w-10/12 max-md:w-full flex flex-row p-2 m-auto">
    <div class="max-w-[66%] h-4/5 max-md:h-full flex flex-col gap-1 pt-3 pr-3 border-r">
      <p class="">¡Más información sobre mis proyectos en...</p>
      {
        arraySocialMedia.map(({ platform, username }) => 
          <SocialMedia platform={platform} username={username}/>
        )
      }
    </div>
    <div class="max-w-full pt-3 pl-2 flex flex-col">
      <span class="">Desarrollado por Michael N. Galeano</span>
      <span class="">Autor Michael N. Galeano</span>
    </div>
  </div>
</footer>