---
import Navigation from "./Navigation.astro";


---

<header class="w-full h-14 bg-black flex flex-1 justify-center items-center">
    <nav class="w-11/12 h-full bg-blue-50 grid place-content-center">
        <div class="w-full flex flex-row gap-2 text-xl">
            <Navigation/>
        </div>
    </nav>
</header>