---

---


<div id='animate' class='max-w-full h-full absolute left-1/4 max-md:left-2/3 bg-transparent'>
</div>

<script>

    const listIcons: string[] = [
        './icons/css3-svgrepo-com.svg',
        './icons/html5-svgrepo-com.svg',
        './icons/javascript-svgrepo-com.svg',
        './icons/react-javascript-js-framework-facebook-svgrepo-com.svg',
        './icons/python-package-index-svgrepo-com.svg'
      ]

    // Función para crear un solo círculo
    const createCircle = () => {
      const container = document.getElementById('animate');
      if (!container) return; // Salir si el contenedor no está disponible
  
      const containerWidth = (window.innerWidth - container.offsetWidth) - 600;
      const containerHeight = window.innerHeight - container.offsetHeight;

      let randomImg: number = Math.floor(Math.random() * listIcons.length);

      
      // Crear un solo círculo
      const newCircle = document.createElement('figure');
      const img = document.createElement('img');
      img.className = 'w-full h-full rounded-full object-contain'
      newCircle.className = 'circles opacity-5 w-20 h-20 rounded-full bg-blue-500 relative animate-moveParticles';
  
      img.src = listIcons[randomImg];
      newCircle.append(img);


      // Posición aleatoria dentro del contenedor
      const randomX = Math.floor(Math.random() * containerWidth);
      const randomY = Math.floor(Math.random() * containerHeight);
      newCircle.style.left = `${randomX}px`;
      newCircle.style.top = `${randomY}px`;
  
      container.appendChild(newCircle);
    };
  
    // Función para limpiar los círculos después de un cierto tiempo
    const clearCircles = () => {
      const circles = document.querySelectorAll('.circles');
      circles.forEach(circle => circle.remove());
    };
  
    // Función de inicialización
    const init = () => {
      // Llamar a createCircle() cada 200 milisegundos
      setInterval(createCircle, 700);
  
      // Llamar a clearCircles() cada 2000 milisegundos (2 segundos)
      setInterval(clearCircles, 2000);
    };
  
    // Ejecutar la inicialización cuando la página se carga y cuando se redimensiona la ventana
    window.addEventListener('DOMContentLoaded', init);
    window.addEventListener('resize', createCircle);
  
  
  </script>