---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Etiquetas from '../pages/tags/etiquetas.astro';


const { frontmatter } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Post {frontmatter.title}</title>
    </head>
    <body>
        <Header/>
        <section class="bg-white w-full min-h-full p-2 flex justify-center" >
            <div class="w-10/12 max-md:w-full" >
                <Etiquetas textColor={'text-black'}/>
                <h1 class="text-black text-xl font-bold">{frontmatter.title}</h1>
                <p class="text-slate-400 text-sm mb-3">Escrito por {frontmatter.author}</p>
                <slot />
            </div>
        </section>
        <Footer/>
    </body>
</html>

<style>
    a {
      color: #00539F;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }
  </style>