---
import Etiquetas from '../pages/tags/etiquetas.astro';
import BaseLayouts from './BaseLayouts.astro'
const { frontmatter } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Post {frontmatter.title}</title>
    </head>
    <body>
        <BaseLayouts background={'bg-slate-300'}>
                <Etiquetas textColor={'text-black'}/>
                <h2>Post</h2>
                <h3>{frontmatter.title}</h3>
                <p>Escrito por {frontmatter.author}</p>
                <slot />
        </BaseLayouts>
    </body>
</html>

<style>
    a {
      color: #00539F;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }
  </style>